<%= form_with(model: member_event) do |form| %>
  <% if member_event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(member_event.errors.count, "error") %> prohibited this member_event from being saved:</h2>

      <ul>
        <% member_event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# form submission for services %>
  <% if @version == "1" || (member_event.errors[:phrase].any? == false && member_event.errors.any?) %>
  <div>
    <%= form.label :event_id, style: "display: block" %>
    <%# filters for membere vents that are services %>
    <%= form.select :event_id, Event.where(event_type: ["Service","Personal/Non-Event"]).order(:name).map { |event| [event.name, event.id] } %>
  </div>

  <% if @user.position != "Member" %>

    <div>
      <%= form.label :approved_status, style: "display: block" %>
      <%= form.check_box :approved_status %>
    </div>
    
  <% end %>

  <br>


  <%# makes a dropdown to where you can only see admins %>
    <% Member.where.not(position: "Member").each do |officer| %>
      <div>
        <% if member_event.approve_by.to_s.include?(officer.name) %>
          <%= form.label :officer_ids, officer.name, style: "disply: block" %>
          <%= form.check_box :officer_ids, {multiple: true}, officer.name, checked: member_event.approve_by.to_s.include?(officer.name) %>
        <% else %>
          <%= form.label :officer_ids, officer.name, style: "disply: block" %>
          <%= form.check_box :officer_ids, {multiple: true}, officer.name, checked: false %>
        <% end %>
      </div>
    <% end %>




  <br>
  <% if member_event.file.attached? %>
    <div>
      <%= form.label :file, style: "display: block" %>
      <%= form.file_field :file, value: member_event.file %>
    </div>
  <% else %>
    <div>
      <%= form.label :file, style: "display: block" %>
      <%= form.file_field :file, value: member_event.file.url %>
    <div>
  <% end %>



  <br>
    <div>
      <%= form.submit %>
    </div>
   <% end %>


  <%# form submission for meetings %>
   <% if @version == "2" || member_event.errors[:phrase].any?%>
    <div>
      <%= form.label :event_id, "Meeting", style: "display: block" %>
      <%# filters for member events that are meetings  %>
      <%= form.select :event_id, Event.where(event_type: "Meeting").order(:name).map { |event| [event.name, event.id] } %>
    </div>

    <div>
      <%= form.label :phrase, style: "display: block" %>
      <%= form.text_field :phrase %>
    </div>

  <br>
    <div>
      <%= form.submit "Sign into meeting"%>
    </div>
  <% end %>
<% end %>
