<div id="<%= dom_id member_event %>">
  <p>
    <strong>Event:</strong>
    <%= Event.where(id: member_event.event_id).last.name %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= Member.where(id: member_event.member_id).last.name %>
  </p>

  <p>
    <strong>Approved status:</strong>
    <%= member_event.approved_status %>
  </p>

  <% if (!!member_event.approved_status) then %>

  <p>
    <strong>Approve date:</strong>
    <%= member_event.approve_date %>
  </p>

  <p>
    <strong>Approve by:</strong>
    <%= member_event.approve_by %>
  </p>

  <% end %>

  <p>
  <strong>File:</strong>
   <%= link_to member_event.file.filename, member_event.file if member_event.file.attached? %>
  </p>

</div>
