<p style="color: green"><%= notice %></p>

<h2>Activities</h2>
<%= link_to "Meeting Sign In", new_member_event_path(version: 2) %>
<br>
<%= link_to "New Service Submission", new_member_event_path(version: 1) %>
<br>
<%= link_to "New Personal/Non-Event Submission", new_member_event_path(version: 3) %>


<div id="member_events">
  <%# shows events that need to be checked off on if user is an admin %>
  <%if @user.position != "Member"%>
    <h2> My Approvals: </h2>

    <%# form submission for filtering service events by approval status %>
    <%= form_tag member_events_path, method: :get do %>
      <%= select_tag :service_status, options_for_select((["All", "Approved", "Pending"])), prompt: "Approval Status"%> 
      <%= submit_tag "Search", class: "btn btn-primary" %>
      
    <% end %>
    <table class="listing" id="Approve By list" summary="Approve By list" style="width: 100%;">
      <!-- table heads -->
      <tr class="header">
        <th class="table-head">Event</th>
        <th class="table-head">Date</th>
        <th class="table-head">Member</th>
        <th class="table-head">Approved status</th>
        <th class="table-head">Approved By</th>
        <th class="table-head">File</th>
      </tr>
      <!-- Display each member -->
      <% @service_events.each do |member_event| %>

        <% if member_event.approve_by.to_s.include?(@user.name)%>
          <tr>
            <td> <%= member_event.event.name %></td>
            <td> <%= member_event.event.date %></td>
            <td> <%= member_event.member.name %></td>
            <td> <%= member_event.approved_status %></td>
            <td> <%= member_event.approve_by %></td>
            <% if member_event.file.attached?%>
              <td> <%= link_to member_event.file.filename, member_event.file  %></td>
            <% else %>
              <td>n/a</td>
            <% end %>

            <!-- Actions for each member event -->
            <td class="actions">
              <% if member_event.approved_status == false%>
                <%= link_to("Approve", member_event_path(member_event), class: 'action show') %>
              <% elsif member_event.approved_status == true %>
                <%= link_to("Unapprove", member_event_path(member_event), class: 'action show') %>
              <% end %>

              <% if member_event.event.event_type == 'Service' %>
                <%= link_to("Edit", edit_member_event_path(member_event, version: 1), class: 'action edit') %>
              <% elsif member_event.event.event_type == 'Personal/Non-Event' %>
                <%= link_to("Edit", edit_member_event_path(member_event, version: 3), class: 'action edit') %>
              <% end %>
              <%= link_to("Delete", delete_member_event_path(member_event), class: 'action delete') %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <br>
  <% end %>

  <%# shows all events and Personal/Non-Events user has entered  %>
  <h2> My Services and Non-Event Submissions: </h2>
    <table class="listing" id="My Services" summary="My Services" style="width: 100%;">
      <!-- table heads -->
      <tr class="header">
        <th class="table-head">Event</th>
        <th class="table-head">Date</th>
        <th class="table-head">Approved status</th>
        <th class="table-head">Approved By</th>
        <th class="table-head">File</th>
      </tr>
      <!-- Display each member -->
      <% @member_events.each do |member_event| %>

        <% if (member_event.member_id == @user.id && member_event.event.event_type == "Service") || (member_event.member_id == @user.id && member_event.event.event_type == "Personal/Non-Event")%>
          <tr>
            <td> <%= member_event.event.name %></td>
            <td> <%= member_event.event.date %></td>
            <td> <%= member_event.approved_status %></td>
            <td> <%= member_event.approve_by %></td>
            <% if member_event.file.attached?%>
              <td> <%= link_to member_event.file.filename, member_event.file  %></td>
            <% else %>
              <td>n/a</td>
            <% end %>

            <!-- Actions for each member event -->
            <td class="actions">
              <%= link_to("Show", member_event_path(member_event), class: 'action show') %>
              <% if @user.position != "Member" %>
                <% if member_event.event.event_type == 'Service' %>
                  <%= link_to("Edit", edit_member_event_path(member_event, version: 1), class: 'action edit') %>
                <% elsif member_event.event.event_type == 'Personal/Non-Event' %>
                  <%= link_to("Edit", edit_member_event_path(member_event, version: 3), class: 'action edit') %>
                <% end %>
                <%= link_to("Delete", delete_member_event_path(member_event), class: 'action delete') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>

  <%# shows all meetings user have attended %>
  <h2> My Meetings: </h2>
    <table class="listing" id="My Meetings" summary="My Meetings" style="width: 100%;">
      <!-- table heads -->
      <tr class="header">
        <th class="table-head">Event</th>
        <th class="table-head">Date</th>
      </tr>
      <!-- Display each member -->
      <% @member_events.each do |member_event| %>

        <% if member_event.member_id == @user.id && member_event.event.event_type == "Meeting" %>
          <tr>
            <td> <%= member_event.event.name %></td>
            <td> <%= member_event.event.date %></td>

            <!-- Actions for each member event -->
            <td class="actions">
              <%= link_to("Show", member_event_path(member_event), class: 'action show') %>
                <% if @user.position != "Member" %>
                  <%= link_to("Edit", edit_member_event_path(member_event), class: 'action edit') %>
                  <%= link_to("Delete", delete_member_event_path(member_event), class: 'action delete') %>
                <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
</div>