<h1>Main Page</h1>
<p>This is the main page</p>

<%= link_to("Member List", members_path) %>
<br />
<%= link_to("Committees", committees_path) %>
<br />
<%= link_to("Events", events_path) %>
<br />
<%= link_to("Excuses", excuses_path) %>
<br />
<%= link_to("Member Events", member_events_path) %>
