<p style="color: green"><%= notice %></p>

<h1>Excuses</h1> 

<%= form_tag excuses_path, method: :get do %>
  <div>
    <%= label_tag :member_name, "Member Name:" %>
    <%= select_tag :member_name, options_for_select(Member.all.map{ |m| [m.name, m.id] }), prompt: "Select member name" %>
  </div>
  <div>
    <%= label_tag :event_name, "Event Name:" %>
    <%= select_tag :event_name, options_for_select(Event.all.map{ |e| [e.name, e.id] }), prompt: "Select event name" %>
  </div>
  <%= submit_tag "Filter" %>
<% end %>

<div id="excuses">
  <% @excuses.each do |excuse| %>
    <%= render excuse %>
    <p>
      <%= link_to "Show this excuse", excuse %>
    </p>
  <% end %>
</div>

<%= link_to "New excuse", new_excuse_path %>
