<p style="color: green"><%= notice %></p>

<h1>My Excuses</h1>

<%= link_to "New excuse", new_excuse_path %>

<%# table containing all of the excuse information - for members, this will only contain their own excuses %>
<table class="listing" id="Excuse list" summary="Excuse list" style="width: 100%;">
    <!-- table heads -->
    <tr class="header">
      <th class="table-head">Event Name</th>
      <th class="table-head">Member Name</th>
      <th class="table-head">Date</th>
      <th class="table-head">File</th>
      <th class="table-head">Approved</th>
    </tr>
    <!-- Display each member -->
    <% @excuses.each do |excuse| %>
    <tr>
      <td> <%= excuse.event.name %></td>
      <td> <%= excuse.member.name %></td>
      <td> <%= excuse.created_at.strftime("%Y-%m-%d") %></td>
      <td> <%= link_to excuse.file.filename, excuse.file if excuse.file.attached? %></td>
      <td> <%= excuse.approved ? 'Approved' : 'Not Approved' %></td>

      <!-- Actions for each member -->
      <td class="actions">
        <%= link_to("Show", excuse_path(excuse), class: 'action show') %>
        <%= link_to("Edit", edit_excuse_path(excuse), class: 'action edit') %>
        <%= link_to("Delete", delete_excuse_path(excuse), class: 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>

