<p style="color: green"><%= notice %></p>

<%= render @excuse %>

<%# give admins the ability to approve/disapprove excuses %>
<% if !@excuse.approved %>
  <%= form_tag approve_excuse_path(@excuse), method: :patch do %>
    <%= submit_tag "Approve" %>
  <% end %>
<% end %>

<% if @excuse.approved %>
  <%= form_tag unapprove_excuse_path(@excuse), method: :patch do %>
    <%= submit_tag "Undo Approval" %>
  <% end %>
<% end %>

<div>
  <%= link_to "Edit this excuse", edit_excuse_path(@excuse) %> |
  <%= link_to "Back to excuses", excuses_path %> |
  <%= link_to "Delete this excuse", delete_excuse_path(@excuse), class: "action delete" %>
</div>
