<p style="color: green"><%= notice %></p>

<%= render @excuse %>

<div>
  <%= link_to "Edit this excuse", edit_excuse_path(@excuse) %> |
  <%= link_to "Back to excuses", excuses_path %>
  <%= link_to "Delete this excuse", delete_excuse_path(@excuse), class: "action delete" %>
</div>
