<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Point type:</strong>
    <%= event.point_type %>
  </p>

  <p>
    <strong>Event type:</strong>
    <%= event.event_type %>
  </p>

  <p>
    <strong>Phrase:</strong>
    <%= event.phrase %>
  </p>

</div>
