<p style="color: green"><%= notice %></p>

<h2>Events</h2>

<% if @user.position != "Member"%>
  <div>
    <%= link_to "New event", new_event_path %>
  </div>
<% end %>

  <iframe
    src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&showTitle=0&showPrint=0&showCalendars=0&src=NGUwN2I2OTgwMTJlNWE2Y2EzMTMwMTcxMWJlZTFmY2FkY2NmMjkyZjZhMzMwMTY1YjRhMzJhZmI4YTg1MGYzOUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%234285F4"
    style="border:solid 1px #777"
    width="800"
    height="600"
    frameborder="0"
    scrolling="no">
  </iframe>


<%# form submission for filtering events by month year etc %>
<%= form_tag events_path, method: :get do %>

  <%= select_tag "date[month]", options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |month, index| [month, index+1] }), prompt: "Select month" %>
  <%= select_tag "date[year]", options_for_select((Time.now.year-1..Time.now.year+1).to_a.reverse), prompt: "Select year" %>
  <%= select_tag :event_type, options_for_select((["Any", "Meeting", "Service", "Personal/Non-Event"])), prompt: "Select event type"%> 
  <%= submit_tag "Search", class: "btn btn-primary" %>
  
<% end %>

<%= link_to "All Events", events_path%>

<%# regular code for showing the events  %>
<div id="events">
  <table class="listing" id="Member list" summary="Member list" style="width: 100%;">
    <!-- table heads -->
    <tr class="header">
      <th class="table-head">Name</th>
      <th class="table-head">Date</th>
      <th class="table-head">Point Type</th>
      <th class="table-head">Event Type</th>
      <th class="table-head">Phrase</th>
      <% @events.each do |event| %>
        <tr>
          <td> <%= event.name %></td>
          <td> <%= event.date %></td>
          <% if event.point_type? %>
            <td> <%= event.point_type %></td>
          <% else %>
            <td>n/a</td>
          <% end %>
          <td> <%= event.event_type %></td>
          <% if @user.position != "Member"%>
            <% if event.phrase? %>
              <td> <%= event.phrase %></td>
            <% else %>
              <td> n/a </td>
            <% end %>
          <% end %>
          <!-- Actions for each member -->
          <td class="actions">
            <%= link_to("Show this event", event_path(event), class: 'action show') %>
          </td>
        </tr>
    <% end %>
  </table>
</div>

<%# allow for you to seperate events to different pages for easier viewing%>
<%if @events.present?%>
  <%= will_paginate @events %>
<%end%>
