<%= link_to('Back to Home page', {controller: 'main', action: 'index'}) %><br />
<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<iframe 
  src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&showTitle=0&showPrint=0&showCalendars=0&src=NGUwN2I2OTgwMTJlNWE2Y2EzMTMwMTcxMWJlZTFmY2FkY2NmMjkyZjZhMzMwMTY1YjRhMzJhZmI4YTg1MGYzOUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%234285F4" 
  style="border:solid 1px #777" 
  width="800" 
  height="600" 
  frameborder="0" 
  scrolling="no">
</iframe>

<%= form_tag events_path, method: :get do %>

  <%= select_tag "date[month]", options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |month, index| [month, index+1] }), prompt: "Select month" %>
  <%= select_tag "date[year]", options_for_select((Time.now.year-1..Time.now.year+1).to_a.reverse), prompt: "Select year" %>

  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<%# allow for you to seperate events to different pages for easier viewing%>
<%if @events.present?%>
  <%= will_paginate @events %>
<%end%>

<%= link_to "New event", new_event_path %>
