<p style="color: green"><%= notice %></p>

<h1>Committees</h1>

<div id="committees">
  <% @committees.each do |committee| %>
    <%= render committee %>
    <p>
      <%= link_to "Show this committee", committee %>
      <%if @user.position != "Member"%> |
        <%= link_to "Edit this committee", edit_committee_path(committee) %> |
        <%= link_to "Delete this committee", delete_committee_path(committee), class: "action delete" %>
      <% end %>
    </p>
  <% end %>
</div>
<%if @user.position != "Member"%>
  <%= link_to "New committee", new_committee_path %>
<% end %>
