<table summary="Member form fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Committee</th>
    <td><%= f.text_field(:committee) %></td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= f.text_field(:position) %></td>
  </tr>
  <tr>
    <th>Civic Points</th>
    <td><%= f.number_field :civicPoints %>
  </tr>
  <tr>
    <th>Outreach Points</th>
    <td><%= f.number_field :outreachPoints %>
  </tr>
  <tr>
    <th>Social Points</th>
    <td><%= f.number_field :socialPoints %>
  </tr>
  <tr>
    <th>Marketing Points</th>
    <td><%= f.number_field :marketingPoints %>
  </tr>
  <tr>
    <th>Total Points</th>
    <td><%= f.number_field :totalPoints %>
  </tr>
</table>
