<div id="<%= dom_id member %>">
  <p>
    <strong>Name:</strong>
    <%= member.name %><br/>
    <strong>Committee:</strong>
    <%= member.committee %><br/>
    <strong>Position:</strong>
    <%= member.position %><br/>
    <strong>Civic Points:</strong>
    <%= member.civicPoints %><br/>
    <strong>Outreach Points:</strong>
    <%= member.outreachPoints %><br/>
    <strong>Social Points:</strong>
    <%= member.socialPoints %><br/>
    <strong>Marketing Points:</strong>
    <%= member.marketingPoints %><br/>
    <strong>Total Points:</strong>
    <%= member.totalPoints %><br/>
  </p>
</div>
