<%= link_to('Back to Home page', {controller: 'main', action: 'index'}) %><br />

<div class="members index">
  <h2>Members</h2>

  <%= link_to("Add New Member", new_member_path, class: 'action new') %>

  <!-- Search for members -->
  <%= form_tag(members_path, method: :get) do %>
    <p> Search for a Member </p>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("Search") %>
  <% end %>

  <table class="listing" id="Member list" summary="Member list" style="width: 100%;">
    <!-- table heads -->
    <tr class="header">
      <th class="table-head"><%= link_to "Member ID", {:sort => "id"}, class: 'table-link'%></th>
      <th class="table-head"><%= link_to "Member Name", {:sort => "name"}, class: 'table-link'%></th>
      <th class="table-head"><%= link_to "Committee", {:sort => "committee_id"}, class: 'table-link'%></th>
      <th class="table-head"><%= link_to "Position", {:sort => "position"}, class: 'table-link'%></th>
      <th class="table-head">Civic Points</th>
      <th class="table-head">Outreach Points</th>
      <th class="table-head">Social Points</th>
      <th class="table-head">Marketing Points</th>
      <th class="table-head">Total Points</th>
    </tr>
    <!-- Display each member -->
    <% @members.each do |member| %>
    <tr>
      <td> <%= member.id %></td>
      <td> <%= member.name %></td>
      <%if member.committee != nil%>
        <td> <%= member.committee.name %></td>
      <%else%>
        <td>None</td>
      <%end%>
      <td> <%= member.position %></td>
      <td> <%= member.civicPoints %></td>
      <td> <%= member.outreachPoints %></td>
      <td> <%= member.socialPoints %></td>
      <td> <%= member.marketingPoints %></td>
      <td> <%= member.totalPoints %></td>
      <!-- Actions for each member -->
      <td class="actions">
        <%= link_to("Show", member_path(member), class: 'action show') %>
        <%= link_to("Edit", edit_member_path(member), class: 'action edit') %>
        <%= link_to("Delete", delete_member_path(member), class: 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
