<%= link_to('Back to Home page', {controller: 'main', action: 'index'}) %><br />

<div class="members index">
  <h2>Members</h2>

  <%= link_to("Add New Member", new_member_path, class: 'action new') %>

  <p>Filter By:</p>
  <%= form_tag members_path, method: :get do %>
    Member Number: <%= text_field_tag :id %>
    Member: <%= text_field_tag :name %>
    Committee: <%= text_field_tag :committee %>
    Position: <%= select_tag :position, options_for_select(["Any", "Admin", "Member"]) %>
    <%= submit_tag "Filter", class: "btn btn-primary" %>
  <% end %>

  <table class="listing" summary="Member list" style="width: 100%;">
    <tr class="header">
      <th>#</th>
      <th>Member</th>
      <th>Committee</th>
      <th>Position</th>
      <th>Civic Points</th>
      <th>Outreach Points</th>
      <th>Social Points</th>
      <th>Marketing Points</th>
      <th>Total Points</th>
    </tr>
    <% @members.each do |member| %>
    <tr>
    <%# checks if member has been approved by admin %>
    <% if member.status == true%>
      <td> <%= member.id %></td>
      <td> <%= member.name %></td>
      <%if member.committee != nil%>
        <td> <%= member.committee.name %></td>
      <%else%>
        <td>None</td>
      <%end%>
      <td> <%= member.position %></td>
      <td> <%= member.civicPoints %></td>
      <td> <%= member.outreachPoints %></td>
      <td> <%= member.socialPoints %></td>
      <td> <%= member.marketingPoints %></td>
      <td> <%= member.totalPoints %></td>
      <td class="actions">
        <%= link_to("Show", member_path(member), class: 'action show') %>
        <%= link_to("Edit", edit_member_path(member), class: 'action edit') %>
        <%= link_to("Delete", delete_member_path(member), class: 'action delete') %>
      </td>
    </tr>
    <%end%>
    <% end %>
  </table>
</div>
